.p-avatar.p-avatar-xl {
    width: 10rem !important;
    height: 10rem !important;
    font-size: 2rem;
}

.upload-icon {
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 200;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: #ffa801;
}

.avatar {
    position: relative;
}