.banner-one {
    background-image: url(src/assets/images/backgrounds/banner-1-1-bg.jpg);
}

.square-image-container {
    width: 100%; /* Set the desired width */
    height: 200px; /* Make the height the same as width */
    overflow: hidden;
  }
  
  .square-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container while maintaining aspect ratio */
  }