.p-sidebar .p-sidebar-content{
    padding-left: 0;
    padding-right: 0;
}
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar-menu li {
    padding: 10px 10px;
    color: white;
    
  }

  .sidebar-menu li:hover{
    background-color: #40b9eb;
    color: #fff;
  }
  
  .sidebar-menu a {
    text-decoration: none;
    color: #7c859b;
  }
  

  .sidebar-menu a:hover {
    color: #fff;
  }
